# Files and directories created by pub
.packages
.pub/
build/
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Directory created by dartdoc
doc/api/

.idea/
/firebase-debug.log
firebase-debug.log
storage.rules
/functions/node_modules/
/functions/package-lock.json
